{% extends "base.html" %}
    
{% block nav %}
    <li class="dropdown active pull-left">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Sports
                        <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Men's Sports</li>
                            <li><a href="#">Baseball</a></li>
                            <li><a href="#">Basketball</a></li>
                            <li><a href="#">Cross Country</a></li>
                            <li><a href="#">Fencing</a></li>
                            <li><a href="#">Football</a></li>
                            <li><a href="#">Golf</a></li>
                            <li><a href="#">Lacrosse</a></li>
                            <li><a href="#">Soccer</a></li>
                            <li><a href="#">Swimming &amp; Diving</a></li>
                            <li><a href="#">Tennis</a></li>
                            <li><a href="#">Track &amp; Field</a></li>
                            <li><a href="#">Wrestling</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Women's Sports</li>
                            <li><a href="#">Basketball</a></li>
                            <li class="active"><a href="team/1">Cross Country</a></li>
                            <li><a href="#">Fencing</a></li>
                            <li><a href="#">Field Hockey</a></li>
                            <li><a href="#">Golf</a></li>
                            <li><a href="#">Gymnastics</a></li>
                            <li><a href="#">Lacrosse</a></li>
                            <li><a href="#">Rowing</a></li>
                            <li><a href="#">Soccer</a></li>
                            <li><a href="#">Softball</a></li>
                            <li><a href="#">Tennis</a></li>
                            <li><a href="#">Track &amp; Field</a></li>
                            <li><a href="#">Volleyball</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Inside Athletics</a></li>
                    <li><a href="#">Facilities</a></li>
                    <li><a href="#">Store</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Fan Center</a></li>
{% endblock %}
{% block content %}

<ul class="breadcrumb">
    <li><a href="../../">all sports</a> <span class="divider">/</span></li>
    <li><a href="../team/1">Women's Cross Country </a><span class="divider">/</span></li>
    <li class="active">{{ athlete.name }}</li>
</ul>
<div class="row-fluid athlete-bio">
    <div class="span4">
        <img src="{{ athlete.imageURL }}" alt="{{ athlete.name }} photo"/>
    </div>
    <div class="span8">
        <h3>{{ athlete.name }}</h3>
        <ul>
            <li><strong>Year:</strong> {{ athlete.year }}</li>
            <li><strong>Hometown:</strong> {{ athlete.hometown }}</li>
            <li><strong>High school:</strong> {{ athlete.highschool }}</li>
        </ul>
        <h4>Personal Records</h4>
        <ul>
            <li><strong>5k:</strong> {{ athlete.pr5k }}</li>
            <li><strong>Mile:</strong> {{ athlete.prmile }}</li>
            <li><strong>800M:</strong> {{ athlete.pr800 }}</li>
        </ul>
        <h4>Bio</h4>
        <p>{{ athlete.bio }}</p>
        <ul>
            <li><strong>Favorite food:</strong> {{ athlete.favfood }}</li>
            <li><strong>Favorite book:</strong> {{ athlete.favbook }}</li>
            <li><strong>Favorite band or artist:</strong> {{ athlete.favartist }}</li>
            <li><strong>Favorite TV shows:</strong> {{ athlete.favtv }}</li>
        </ul>
    </div>
</div>


{% endblock %}