<!-- new file: uncteams/templates/uncteams/athlete_list.html -->

{% extends "base.html" %}

{% block content %}
    <h2>All Athletes</h2>
    <ul>
    {% for athlete in athletes %}
    {# Each "athlete" is an athlete model object. #}
    <li><a href="{{ athlete.id }}">{{ athlete.name }}</a></li>
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if athletes.has_previous %}
            <a href="?page={{ athletes.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ athletes.number }} of {{ athletes.paginator.num_pages }}.
        </span>

        {% if athletes.has_next %}
            <a href="?page={{ athletes.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
    
    
    
    
    
{% endblock %}