<!-- uncteams/templates/uncteams/course_list.html -->
{% extends "base.html" %}

{% block content %}
    <h2>All teams</h2>
    <ul>
    {% for team in teams %}
    {# Each "athlete" is an athlete model object. #}
    <li><a href="{{ team.id }}">{{ team.name }}</a></li>
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if athletes.has_previous %}
            <a href="?page={{ teams.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ teams.number }} of {{ teams.paginator.num_pages }}.
        </span>

        {% if athletes.has_next %}
            <a href="?page={{ teams.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}