{% extends "base.html" %}

{% block scripts %}
    <script>
    </script>
{% endblock %}

{% block nav %}
    <li class="dropdown active pull-left">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Sports
                        <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Men's Sports</li>
                            <li><a href="#">Baseball</a></li>
                            <li><a href="#">Basketball</a></li>
                            <li><a href="#">Cross Country</a></li>
                            <li><a href="#">Fencing</a></li>
                            <li><a href="#">Football</a></li>
                            <li><a href="#">Golf</a></li>
                            <li><a href="#">Lacrosse</a></li>
                            <li><a href="#">Soccer</a></li>
                            <li><a href="#">Swimming &amp; Diving</a></li>
                            <li><a href="#">Tennis</a></li>
                            <li><a href="#">Track &amp; Field</a></li>
                            <li><a href="#">Wrestling</a></li>
                            <li class="divider"></li>
                            <li clas="nav-header">Women's Sports</li>
                            <li><a href="#">Basketball</a></li>
                            <li class="active"><a href="team/1">Cross Country</a></li>
                            <li><a href="#">Fencing</a></li>
                            <li><a href="#">Field Hockey</a></li>
                            <li><a href="#">Golf</a></li>
                            <li><a href="#">Gymnastics</a></li>
                            <li><a href="#">Lacrosse</a></li>
                            <li><a href="#">Rowing</a></li>
                            <li><a href="#">Soccer</a></li>
                            <li><a href="#">Softball</a></li>
                            <li><a href="#">Tennis</a></li>
                            <li><a href="#">Track &amp; Field</a></li>
                            <li><a href="#">Volleyball</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Inside Athletics</a></li>
                    <li><a href="#">Facilities</a></li>
                    <li><a href="#">Store</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Fan Center</a></li>
{% endblock %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="../../">all sports</a> <span class="divider">/</span></li>
    <li class="active">{{ team.name }}</li>
</ul>
<h1>{{ team.name }}</h1>
<div class="row-fluid team-carousel">
        <div class="span12">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
            <div class="active item">
                <img src="{{ team.imageURL }}" alt="slider"/>
                <div class="carousel-caption">
                      <h4><a href="#">Six Earn All-ACC Academic For 2012 XC</a></h4>
                        <p>Malia Cali, Lianne Farber, Annie LeHardy, Ashley Miess,
                        Karley Rempel and Isaac Presson earned All-ACC Academic honors
                        as announced Wednesday by the conference.</p>
                </div>
            </div>
            <div class="item">
                <img src="http://www.goheels.com/pics32/640/RK/RKNGWSYMLWLDLGM.20130104154542.jpg" alt="slider"/>
                <div class="carousel-caption">
                      <h4><a href="#">Bracy Will Run With USATF Saturday</a></h4>
                      <p>Addie Bracy, a former distance runner and volunteer coach at Carolina, has made the
                      USA Track & Field senior women's team and will compete in Scotland on Saturday.</p>
                </div>
            </div>
            <div class="item">
                <img src="http://www.goheels.com/pics32/640/HV/HVFCUKPEMIZODKO.20121117181613.jpg" alt="slider"/>
                <div class="carousel-caption">
                      <h4><a href="#">Farber Places 40th, Deemed All-America</a></h4>
                      <p>Lianne Farber earns All-America honors for her finish at the 2012 NCAA Cross Country National Championship.</p>
                </div>
            </div>
            </div>
        </div>
        <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
    <!--end carousel-->
<div class="row-fluid">
    <div class="span6">
    <h3>Schedule</h3>
    <table class="table-schedule">
        <thead>
            <tr><th>Date</th><th>Opponent</th><th>Location</th><th>Time (ET)</th></tr>
        </thead>
        <tr><td>Fri, Aug 31</td><td>Covered Bridge Open</td><td>Boone, NC</td><td>5:00pm</td></tr>
        <tr><td>Fri, Sep 14</td><td>adidas Invitational</td><td>Raleigh, NC</td><td>5:15pm</td></tr>
        <tr><td>Fri, Sep 28</td><td>Notre Dame Invitational</td><td>South Bend, IN</td><td>2:00pm</td></tr>
        <tr><td>Fri, Oct 12</td><td>Wisconsin Invitational</td><td>Madison, WI</td><td>1:45pm</td></tr>
        <tr><td>Sat, Oct 27</td><td>ACC Championships</td><td>Blacksburg, VA</td><td>10:00am</td></tr>
        <tr><td>Sat, Nov 03</td><td>Three Stripe Invitational</td><td>Raleigh, NC</td><td>11:00am</td></tr>
        <tr><td>Sat, Nov 17</td><td>NCAA Championships</td><td>Louisville, KY</td><td>12:00pm</td></tr>
    </table>
    </div>
    <div class="span6">
    <h3>Coaches</h3>
        <table class="table-coaches">
            <thead>
                <tr><th></th><th>Coach</th><th>Position</th><th>Years exp</th></tr>
            </thead>
        {% for coach in coaches %}
        {# Each "coach" is a coach model object. #}
        <tr><td><img src="{{ coach.imageURL }}" alt="{{ coach.name }} photo" /></td>
            <td>{{ coach.name }}</a></td><td>{{ coach.position }}</td><td>{{ coach.yearsexp }}</td></tr>
        
        {% endfor %}
        </table>
    </div>
</div>
<hr/>
<div class="row-fluid">
    <div class="span12">
        <h2>Roster</h2>
            <table class="table-roster">
                <thead>
                    <tr><th>Athlete</th><th>Year</th><th>Hometown</th><th>Highschool</th>
                        <th>5k PR</th><th>Mile PR</th><th>800 PR</th></tr>
                </thead>
            {% for athlete in athletes %}
            {# Each "athlete" is an athlete model object. #}
            <tr><td><a id="pop{{ athlete.id }}" href="../athlete/{{ athlete.id }}">{{ athlete.name }}</a></td>
                <td>{{ athlete.year }}</td><td>{{ athlete.hometown }}</td><td>{{ athlete.highschool }}</td>
            <td>{{ athlete.pr5k }}</td><td>{{ athlete.prmile }}</td><td>{{ athlete.pr800 }}</td></tr>
            {% endfor %}
            
            </table>
        
        <div class="pagination pull-right">
            <span class="step-links">
                {% if athletes.has_previous %}
                    <a href="?page={{ athletes.previous_page_number }}">«</a>
                {% endif %}
        
                <span class="current">
                    Page {{ athletes.number }} of {{ athletes.paginator.num_pages }}
                </span>
        
                {% if athletes.has_next %}
                    <a href="?page={{ athletes.next_page_number }}">»</a>
                {% endif %}
            </span>
    </div>
</div>
</div>
{% endblock %}