/*
**go heels: Official Carolina Athletics
**by Katie Meyer
**2013 March 07
**UNC Teams app template styles
*/

/*-------------------------------------
 *Base template
 *-------------------------------------*/
body {
	background-color: #D3D3D3;
}
.container {
    background-color:#ffffff;
	box-shadow: 5px 5px 10px #BCBCBC, -5px 0px 10px #BCBCBC;
    margin: 0 auto;
    padding:10px;
    position: relative;
    top: -19px;
}
h1, h2, h3, h4 {
    font-family: 'Fjalla One', "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
h4 > a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*Nav bar */
.nav {
    padding-top:5px;
}
.navbar .container {
    background-color:inherit;
    background-image:inherit;
    box-shadow: none;
    padding: inherit;
    top:inherit;
}
.navbar-inner{
    min-height:50px;
}
.navbar-search {
    margin-top:20px;
}
.nav li {
    line-height: 50px;
    font-size:1.2em;
}
.dropdown-menu li, .dropdown-menu li.nav-header {
    font-size:.7em;
    line-height:20px;
}
.navbar .caret {
    position:relative;
    top:13px;
}
/*Brand logo */
.navbar .brand {
    padding:0px 45px 0px 0px;
}
.brand-goheels {
	color: rgb(211, 223, 231);
    display: inline;
    font-family: 'Fjalla One', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
    position: relative;
    top: 10px;
}
.brand-tagline {
    color: rgba(211, 223, 231, 0.67);
	display:block;
}
.brand:hover,
.navbar-inverse .brand:focus{
  	color: rgb(255, 255, 255);
}

/*-----------------------------------------
 *Home template
 *-----------------------------------------*/
/*Carousel*/
.carousel {
    background-color:#222222;
    box-shadow: 0px 1px 10px;
}
.home-carousel .carousel-caption{
    height:100px;
}
/*Twitter feed & headlines */
.twitter-span, .schedule-span {
    border-right: 1px solid #eeeeee;
}
.home-headlines {
    margin-bottom:30px;
}
.home-headlines p {
    padding-top:5px;
    padding-left:20px;
}
/*Teasers*/
.home-teasers .span4{
    border-radius: 10px;
    background-color:#fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}
.home-teasers img{
    max-width:200px;
    display:block;
    margin: 0 auto;
}
.home-teasers h2, .home-teasers a {
    text-align:center;
    color:#777;
}
/*Sports thumbnails*/
.home-sports h1 {
    padding-left:100px;
}
ul.thumbnails {
    display: block;
    margin: 0 auto;
    position: relative;
    left: 10%;
}
.thumbnail img {
    max-height:200px;
}
a.thumbnail {
    height: auto;
    margin-top:25px;
}
a.thumbnail p {
    padding: 10px 0 0 0;
    text-align:center;
}

/*-------------------------------
 *Team detail template
 *------------------------------*/
/*breadcrumb*/
.breadcrumb {
    background-color:#ffffff;
    padding-bottom:5px;
    margin-bottom:5px;
}
.breadcrumb a {
    color:#5BAAE0;
}
/*Team image */
.team-image-row {
    background-color:#f2f2f2;
    width:100%;
}
.team-image-row img {
    display:block;
    margin: 0 auto;
}
/*Team schedule table*/
.table-schedule {
    display:block;
    margin:0 auto;
}
.table-schedule td, .table-schedule th{
    text-align: center;
    padding: 5px 10px 5px 10px;
}
/*Coaches table*/
.table-coaches {
    display:block;
    margin:0 auto;
}
.table-coaches td, .table-coaches th{
    text-align: center;
    padding: 5px 10px 5px 10px;
}
.table-coaches img {
    max-width:100px;
    max-height: 100px;
}
/*Roster table of athletes*/
.table-roster th, .table-roster td{
    font-size:1.2em;
    padding: 5px 25px 5px 25px;
    text-align:center;
}
.table-roster tr:nth-child(even) {
    background-color: rgba(224, 222, 222, 0.34);
}
.step-links {/*style for pagination*/
    color:#56A0D3;
    padding-right:100px;
}

/*--------------------------------
 *Athlete detail template
 *------------------------------*/
.athlete-bio {
    padding-top:40px;
    padding-bottom:30px;
}
.athlete-bio img {
    display:block;
    margin:0 auto;
    box-shadow: 2px 5px 10px #333;
}
.athlete-bio-info {
    margin: 0;
}
.athlete-bio li {
    padding-left:40px;
    list-style: none;
}
.athlete-bio p {
    padding-left:60px;
    padding-right:50px;
}
.athlete-bio h3{
    margin:0;
}
.athlete-bio h4 {
    padding-left:40px;
    color:#777;
}
.news-sidebar .span2{/*recent news stories under athlete bio*/
    margin-left:4%
}