/*------------------------------
 *Base template
 *--------------------------------*/
body {
   /* background-color: #333333;*/
}
h1 {
  
    margin-left:50px;
}
.container {
    /*background-color:#f2f2f2;*/
    margin: 0 auto;
}
.navbar-inner{
    min-height:50px;
}
.nav {
    padding-top:5px;
}
/*------------------------------
 *Home template
 *--------------------------------*/
ul.thumbnails {
    display: block;
    margin: 0 auto;
    position: relative;
    left: 10%;
}
a.thumbnail {
    height: auto;
    margin-top:20px;
}
a.thumbnail p {
    padding: 10px 30px 0 0;
    text-align:center;
}
.thumbnail img {
    max-width:300px;
    max-height:200px;
}
.carousel {
    background-color:#333;
}
.carousel-caption {
    height:170px;
}
.home-headlines {

}
.home-headlines p {
    padding-top:5px;
    padding-left:20px;
}
/*-------------------------------
 *Team detail template
 *------------------------------*/
.team-image-row {
    background-color:#f2f2f2;
    width:100%;
}
.team-image-row img {
    display:block;
    margin: 0 auto;
}
.table-schedule {
    display:block;
    margin:0 auto;
}
.table-schedule td, .table-schedule th{
    text-align: center;
    padding: 5px 10px 5px 10px;
}
.table-coaches {
    display:block;
    margin:0 auto;
}
.table-coaches td, .table-coaches th{
    text-align: center;
    padding: 5px 10px 5px 10px;
}
.table-coaches img {
    max-width:100px;
    max-height: 100px;
}
.table-roster th, .table-roster td{
    font-size:1.2em;
    padding: 5px 25px 5px 25px;
    text-align:center;
}
.table-roster {
    
}
/*--------------------------------
 *Athlete detail template
 *------------------------------*/
