/*------------------------------
 *Base template
 *--------------------------------*/
body {
   background-color: #D3D3D3;
}
h1 {

}
.container {
    background-color:#ffffff;
    margin: 0 auto;
    padding:10px;
    position: relative;
    top: -19px;
    box-shadow: 5px 5px 10px #BCBCBC, -5px 0px 10px #BCBCBC;
}
.navbar-inner{
    min-height:50px;
}
.navbar .container {
    background-color:inherit;
    background-image:inherit;
    padding: inherit;
    top:inherit;
    box-shadow: none;
}
.navbar .brand {
    padding-bottom:0px;
}
.nav {
    padding-top:25px;
}
.nav li {
    line-height: 30px;
}
/*------------------------------
 *Home template
 *--------------------------------*/
ul.thumbnails {
    display: block;
    margin: 0 auto;
    position: relative;
    left: 10%;
}
a.thumbnail {
    height: auto;
    margin-top:25px;
}
a.thumbnail p {
    padding: 10px 0 0 0;
    text-align:center;
}
.thumbnail img {
    max-height:200px;
}
.carousel {
    background-color:#222222;
}
.twitter-span {
    border-right: 1px solid #eeeeee;
}
.home-headlines {

}
.home-headlines p {
    padding-top:5px;
    padding-left:20px;
}
.home-carousel .carousel-caption{
    height:100px;
}
/*-------------------------------
 *Team detail template
 *------------------------------*/
.team-image-row {
    background-color:#f2f2f2;
    width:100%;
}
.team-image-row img {
    display:block;
    margin: 0 auto;
}
.table-schedule {
    display:block;
    margin:0 auto;
}
.table-schedule td, .table-schedule th{
    text-align: center;
    padding: 5px 10px 5px 10px;
}
.table-coaches {
    display:block;
    margin:0 auto;
}
.table-coaches td, .table-coaches th{
    text-align: center;
    padding: 5px 10px 5px 10px;
}
.table-coaches img {
    max-width:100px;
    max-height: 100px;
}
.table-roster th, .table-roster td{
    font-size:1.2em;
    padding: 5px 25px 5px 25px;
    text-align:center;
}
.table-roster {
    
}
/*--------------------------------
 *Athlete detail template
 *------------------------------*/
.athlete-bio img {
    display:block;
    margin:0 auto;
}
.athlete-bio li {
    padding-left:20px;
    list-style: none;
}